<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#0b0b12" />

<title>{{title}}</title>
{{#if description}}<meta name="description" content="{{description}}" />{{/if}}

<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
<link rel="manifest" href="/manifest.webmanifest" crossorigin="anonymous" />

{{#if canonical}}<link rel="canonical" href="{{canonical}}" />{{/if}}
<meta property="og:title" content="{{ogTitle}}" />
{{#if ogDescription}}<meta property="og:description" content="{{ogDescription}}" />{{/if}}
<meta property="og:image" content="{{ogImage}}" />

<link rel="stylesheet" href="/styles/styles.css" />
<link rel="preconnect" href="https://wrestleutopia-auth.auth.us-east-2.amazoncognito.com" crossorigin>
<link rel="preconnect" href="https://go2gft4394.execute-api.us-east-2.amazonaws.com" crossorigin>

<script type="module" src="/js/core.js"></script>

{{{headExtra}}}
